<html>
<head>
    <title>PRIVATE / PUBLIC</title>
    <link rel="stylesheet" href="../../style.css"/>
</head>
<body>
<ul>
    <li><a href="../../index.html">RECENTS</a></li>
    <li><a href="../heathrow-hotel/view.html">HEATHROW HOTEL</a></li>
    <li><a class="active" href="../private-public/view.html">PRIVATE / PUBLIC</a></li>
    <li><a href="../portraits/view.html">PORTRAITS</a></li>
    <li><a id="contact" href="../../contact.html">contact</a></li>
</ul>
<img src="L1140831-20_04_2019.jpg" id="abstract-naked-woman">
<img src="L1110165-10_10_2018.jpg" id="masterpiece-tree">
<img src="DSCF5244-5-19_04_2018.jpg" id="confrontational-look">
<img src="DSCF3716-3-31_03_2018.jpg" id="duck-circle">
<img src="DSCF3809-1-31_03_2018.jpg" id="duck-mob">
<img src="DSCF6383-Edit.jpg" id="boy-shading-eye">
<img src="L1120424-24_08_2021.jpg" id="color-window-shapes">
<img src="L1140466-29_03_2019.jpg" id="bw-window-shapes">
<img src="DSCF5647-19_04_2018.jpg" id="woman-duffle-phone">
<img src="DSCF3630-26_03_2018.jpg" id="og-tree">
<img src="L1160072-24_06_2019.jpg" id="abstract-back-of-leg">
<img src="IMG_3065.JPG" id="me">
<img src="IMG_6172.JPG" id="abstract-phone-photo">
<img src="L1100747-24_09_2018.jpg" id="tree-crossed-legs">
<img src="DSCF6689-Edit.jpg" id="boy-and-girl-looking-at-eachother">
<img src="DSCF6788-Edit.jpg" id="girl-with-football-boy-looking-at-camera">
<img src="L1100304-01_09_2018.jpg" id="green-petal">
<img src="L1110355-22-18_10_2018.jpg" id="bw-blind-adjusting-stick">
<img src="L1200236-15_04_2020.jpg" id="abstract-printed-two-semi-circles">
<img src="L1200239-2-18_04_2020.jpg" id="abstract-printed-behind-sofa">
</body>
</html>