<html>
<head>
    <title>PORTRAITS</title>
    <link rel="stylesheet" href="../../style.css" />
</head>
<body>
<ul>
    <li><a href="../../index.html">RECENTS</a></li>
    <li><a href="../heathrow-hotel/view.html">HEATHROW HOTEL</a></li>
    <li><a href="../private-public/view.html">PRIVATE / PUBLIC</a></li>
    <li><a class="active" href="../portraits/view.html">PORTRAITS</a></li>
    <li><a id="contact" href="../../contact.html">contact</a></li>
</ul>
</body>
    <img src="L1320757-Edit.jpg">
    <img src="L1290464-Edit.jpg">
    <img src="L1240025-Edit.jpg">
</body>
</html>